<div class="gap"></div>
<footer>
    <p><a href="/terms">Terms</a> - <a href="/privacy">Privacy</a></p>
    <p>Copyright © STRAT Business Solutions (Pty) Ltd 2024</p>
</footer>
</div>
<script type="module" src="animations.js" charset="UTF-8"></script>
</html>