        <div class="gap"></div>
        <footer>
            <p id="terms-privacy"><a href="/terms">Terms</a> - <a href="/privacy">Privacy</a></p>
            <p id="copyright">Copyright © STRAT Business Solutions (Pty) Ltd 2024</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="module" src="animations.js" charset="UTF-8"></script>  
</html>