<!DOCTYPE html>
<html lang="en" />
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STRAT Webpage</title>
  <link rel="stylesheet" href="/styles/mobile.css" />
  <link rel="stylesheet" href="/styles/desktop.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Poppins&family=Spectral:wght@700&family=Vollkorn:wght@500&display=swap"
    rel="stylesheet"
  />
</head>

<div class="page">
  <img src="/background.jpg" id="background" alt="" />
  <header>
    <div class="container">
      <div class="logo-background">
        <img class="logo" src="/logo4.png" style="width: 100px; height: auto" />
      </div>
      <div class="title-header">
        <h1 class="title1">STRAT</h1>
        <h1 class="title2">Business Solutions</h1>
      </div>
      <div class="block"></div>
      <form action="/tab" method="POST" class="navbar">
        <ul class="navbar-nav">
          <button type="submit" value="home" name="choice" class="Tab">Home</button>
          <button type="submit" value="services" name="choice" class="Tab">Services</button>
          <button type="submit" value="solutions" name="choice" class="Tab">Solutions</button>
          <button type="submit" value="clients" name="choice" class="Tab">Clients</button>
          <button type="submit" value="social" name="choice" class="Tab">Social</button>
          <button type="submit" value="contact" name="choice" class="Tab">Contact</button>
        </ul>
      </form>
    </div>
  </header>
