<%- include("partials/header.ejs") %>
<main class="Contact">
  <ul class="contact-list">
    <li class="item">
      <p class="c-heading">Address</p>
      <img
        class="Location Icon"
        ,
        src="/Contact_Pictures/Location Icon.png"
        style="width: 30px; height: auto"
      />
      <p class="description">
        South Africa, KwaZulu-Natal, <br />
        Durban, Durban North <br />
        Remote
      </p>
    </li>
    <li class="item">
      <p class="c-heading">Mobile</p>
      <img
        class="Mobile Icon"
        ,
        src="/Contact_Pictures/Mobile Icon.png"
        style="width: 30px; height: auto"
      />
      <p class="description">+27 78 019 0983</p>
    </li>
    <li class="item">
      <p class="c-heading">Email</p>
      <img
        class="Email Icon"
        ,
        src="/Contact_Pictures/Email Icon.png"
        style="width: 30px; height: auto"
      />
      <p class="description">
        stratbsolutions@gmail.com <br />
        dashgovender1910@gmail.com
      </p>
    </li>
    <li class="item">
      <p class="c-heading">Follow Us</p>
      <a href="https://web.facebook.com/STRAT.business.sol">
        <img
          class="Facebook Icon"
          ,
          src="/Contact_Pictures/Facebook Icon.png"
          style="width: 30px; height: auto"
        />
      </a>
      <a href="https://www.instagram.com/strat_business_solutions/">
        <img
          class="Instagram Icon"
          ,
          src="/Contact_Pictures/Instagram Icon.png"
          style="width: 30px; height: auto"
        />
      </a>
      <a href="https://twitter.com/DashenGovender1">
        <img
          class="Twitter Icon"
          ,
          src="/Contact_Pictures/Twitter Icon.png"
          style="width: 30px; height: auto"
        />
      </a>
    </li>
  </ul>
</main>
<%- include("partials/footer.ejs") %>
