<%- include("Partials/header.ejs") %>
<main class="Home">
  <div class="AboutUs">
    <h2>About Us :</h2>
    <p>
      Welcome to STRAT, where we go beyond the ordinary to refine what’s
      possible in business solutions. STRAT stands for Software, Technology,
      Refinement, Auromation and Trust - our five pillars that form the
      foundation of our commitment to delivering innovative and sustainable
      solutions that empower businesses to thrive in the ever-evolving digital
      era. <br />
      <br />
      Every business has a story, and we believe in taking the time to truely
      listen and understand yours. Our journey with you begins by immersing
      ourselves in the intricacies of your business, listening to your
      challenges, goals and aspirations. This understanding becomes the
      foundation that guides our efforts to tailor solutions perfectly aligned
      with your vision
    </p>
  </div>
  <div class="Ethics">
    <h3>Our company adheres to the following ethical principles:</h3>
    <ul>
      <li>
        <h4>Deliver Class Solutions</h4>
        <div class="Principle Deliver">
          <img src="/Home_Pictures/Deliver Class Solutions.avif" />
          <p>
            At STRAT, we understand that your business is unique. Therefore, we
            carefully craft solutions to address your specific challenges and
            capitalise on your distinct opportunities. We work proficiently and
            consider all the fine details to deliver a solution that meets its
            standards. We strategise to ensure that the results of our solutions
            are promising and engaging to customers. Our commitment and
            unwavering dedication to delivering nothing short of excellence sets
            us apart.
          </p>
        </div>
      </li>
      <li>
        <h4>Cooperate and Build Reliability</h4>
        <div class="Principle Cooperate">
          <img src="/Home_Pictures/Cooperate and Build Reliability.jpg" />
          <p>
            Our team members are reliant, dependable and ambitious. We value one
            another and hold to the standards and ethics of STRAT. We work
            closely with our clients to ensure they receive our attention and
            feel valued by us. We engage with them to build lasting
            relationships. We aim to ensure that our clients and customers
            positively remember us for our contributions to them.
          </p>
        </div>
      </li>
      <li>
        <h4>Trust Dependant</h4>
        <div class="Principle Trust">
          <img src="/Home_Pictures/Trust Dependant.avif" />
          <p>
            We are honest, transparent and consistent when dealing with
            customers or clients. We are always in contact with our clients
            every step of the way, ensuring that the solutions we deliver are
            precisely the way the client wants them to be. Most importantly,
            every step we take shows that we provide results along our journey
            with our clients. This consistency builds trust in our clients.
            Every hurdle we undergo is also communicated to our client so that
            our client never feels isolated from the solution and we can resolve
            the problem together. They are just as in control as we are.
          </p>
        </div>
      </li>
      <li>
        <h4>Bold Leadership</h4>
        <div class="Principle Bold">
          <img src="/Home_Pictures/Bold Leadership.jpeg" />
          <p>
            Bold leadership is not just a characteristic for us but our guiding
            force. It means making daring decisions to meet the unique needs of
            our clients. We embrace the challenges of the ever-changing business
            landscape with confidence and decisiveness. At every level, bold
            leadership is our commitment to navigating challenges, exploring new
            opportunities and delivering straightforward, practical business
            solutions for our clients.
          </p>
        </div>
      </li>
      <li>
        <h4>Accountability</h4>
        <div class="Principle Accountability">
          <img src="/Home_Pictures/Accountability.jpg" />
          <p>
            At STRAT, we believe in taking ownership of our actions and
            decisions. We hold ourselves to the highest standards, taking
            responsibility for the promises we make and the outcomes we deliver.
            By embracing accountability, we are building a culture where
            challenges become growth opportunities, mistakes become lessons, and
            every small or big success is a shared achievement. By prioritising
            accountability, we ensure that our business solutions are effective
            and built on a foundation of trust and reliability.
          </p>
        </div>
      </li>
      <li>
        <h4>Integrity</h4>
        <div class="Principle Integrity">
          <img src="/Home_Pictures/Integrity.jpg" />
          <p>
            At STRAT, we take pride in our unwavering commitment to integrity.
            We believe in transparent communication, ethical decision-making,
            and a solid commitment to doing what is right. Our team is dedicated
            to upholding the integrity of our services, ensuring that our
            clients experience business solutions and a partnership rooted in
            trust. At STRAT, integrity is not just a word but the foundation
            upon which we build lasting, meaningful connections with our
            clients.
          </p>
        </div>
      </li>
      <li>
        <h4>Systematic and Organized</h4>
        <div class="Principle Systematic">
          <img src="/Home_Pictures/Systematic and Organized.jpg" />
          <p>
            Our timing and goal orientation are impeccable. We think strongly
            about our customer's desire to receive a product or service
            promptly, which makes them enthusiastic to receive more from us. We
            plan our methods well and in advance for solutions; we always
            communicate with our client's requirements, ensuring we give them
            the best solution. Every team member is an asset, contributing their
            full attention and planning to the task given to them.
          </p>
        </div>
      </li>
      <li>
        <h4>Civility</h4>
        <div class="Principle Civility">
          <img src="/Home_Pictures/Civility.jpeg" />
          <p>
            Our culture is one of politeness, equality and uniqueness. We value
            every team member for their skills, achievements and participation.
            We ensure that we support each other mentally and emotionally so
            that we are always headstrong and determined. We make an effort to
            understand one another so that no one is left feeling isolated or
            unhappy. The health and contentment of our colleagues are vital to
            our survival. We do not differentiate between caste, creed, or
            gender; we are one unit dedicated to serving society.
          </p>
        </div>
      </li>
    </ul>
  </div>
</main>
<%- include("Partials/footer.ejs") %>
