<%- include("Partials/header.ejs") %>
<main class="Services">
  <p class="description">
    At STRAT, we offer you a wide range of high-quality software solutions. We
    aim to ensure every customer and business receives our best services and
    products. We thrive in adding value and promoting revenue in companies who
    work with us. Our relationship with you is of primary importance; our second
    priority is to sell software, and our first is to sell our customer care and
    appreciation to you for buying or working with us. Our efforts are nothing
    short of ideal craftsmanship, representation and planning.
    <br /><br />
    Our products and services span a range of 5 categories, these are:
  </p>
  <div class="Service Digital-Designs">
    <h2>Digital Designs</h2>
    <img src="/Services_Pictures/graphic_designs.jpg" />
    <p>
      Digital Design, or graphic design, illustrates a brand, product or
      service. At STRAT, we create visual solutions that suit your interests and
      style. We develop our solutions using software with special tools and
      drawing methods; our most extraordinary craftsmanship is our imagination
      and transformative ideas. We allow you to express your ideas with us to
      formulate a design tailored to your specific needs.
    </p>
  </div>
  <div class="Service Web-Development">
    <h2>Web Development</h2>
    <img src="/Services_Pictures/web_development.jpg" />
    <p>
      We can develop outstanding websites to aid your business in marketing your
      products and services. Your website can have a variety of user
      interactions and features, such as sign-up pages, chatbots, a visual
      representation of products, multiple pages or tabs, security,
      descriptions, natural language processing, digital content, AI and many
      other elements. The only limit you have is the amount of features you can
      think of! We will be with you every step of the process, ensuring that
      your website is as attractive as possible and you achieve the audience you
      deserve.
    </p>
  </div>
  <div class="Service Software-Development">
    <h2>Software Development</h2>
    <img src="/Services_Pictures/software_development.jpg" />
    <p>
      Regarding the software side, we offer solutions for analytical and
      data-related tasks, backend programming tasks, frontend programming tasks,
      desktop software apps, cloud computing, multimedia services, AI and ML
      services, and data infrastructure. Our most notable languages are Python,
      SQL, C#, Java, JavaScript and TypeScript. However, we would be delighted
      to expand our services to other languages should you require us.
      <br /><br />
      Let us discuss some of the essential solutions we offer here at STRAT:
    </p>
    <div class="Slns">
      <div>
        <h4>Analytical and Data-Related Tasks</h4>
        <p>
          These tasks may include the ability to track records and visually
          represent them. We can run an analysis on the software you use and
          provide data that will help ensure the security and popularity of your
          software.
        </p>
      </div>
      <div>
        <h4>Cloud Computing</h4>
        <p>
          At STRAT, we provide networking and storage for our clients. This
          solution helps our clients lower operating costs run their
          infrastructure more efficiently, and scale as their business adapts to
          change.
        </p>
      </div>
      <div>
        <h4>Multimedia Services</h4>
        <p>
          We have the expertise to aid in a company's multimedia growth. This
          operation can be editing and crafting video content or audio, as well
          as modifying images.
        </p>
      </div>
      <div>
        <h4>AI and ML Services</h4>
        <p>
          If you require software that performs decision-making or improves your
          machine's algorithm over time by constructive learning, we have the
          tools to make it a reality! No task is under our belt.
        </p>
      </div>
      <div>
        <h4>Data Infrastructure</h4>
        <p>
          We can protect, manipulate, and store your data using the finest
          programming methods and housing. You can use this opportunity to file
          your records and keep them organized and under control.
        </p>
      </div>
    </div>
  </div>
  <div class="Service Mobile-Development">
    <h2>Mobile Development</h2>
    <img src="/Services_Pictures/mobile_development.png" />
    <p>
      Mobile apps are a common trend in today's day and age. At STRAT, we offer
      you the opportunity to inherit your app, which you can show off to people
      or use to commercialize your business. Our ideas range from groceries to
      parking, communication, maps, policing, and many other fantastic ideas you
      can bring. Revolutionize your activities, start your trend and scale your
      app worldwide.
    </p>
  </div>
  <div class="Service Automation">
    <h2>Automation</h2>
    <img src="/Services_Pictures/automation.webp" />
    <p>
      At STRAT, we automate and integrate solutions, making them more
      straightforward to navigate; we reduce user interaction and help cut out
      the inner person so that the process of data is much smoother and more
      efficient. We also provide robot process automation, which allows the
      system to take over and handle the tasks, making it affordable for
      businesses who want less effort for more work.
    </p>
  </div>
</main>
<%- include("Partials/footer.ejs") %>
