<%- include("partials/header.ejs") %>
<main class="Social">
  <h2>Visit our YouTube Page</h2>
  <p>
    At STRAT, we are dedicated to transforming your business into a success
    story. Our YouTube channel is your go-to destination for cutting-edge
    solutions, expert advice and strategies designed to maximise your business's
    potential. We release content that not only teaches but inspires our
    followers.
    <br />
    <br />
    Become a part of our community and family! Connect with fellow
    entrepreneurs, share insights and build your network. Subscribe, hit the
    notification bell, and be the first to access exclusive content that will
    empower you on your journey to success!
  </p>
  <div class="YouTube-Link">
    <img
      src="/Social_Pictures/Youtube.png"
      style="height: 40px; width: auto; padding-right: 10px"
    />
    <a href="https://www.youtube.com/channel/UCOpbizzAmUN7BALBgHmEM7w"
      >STRAT YouTube</a
    >
  </div>
  <div class="Videos">
    <div class="Video1">
      <img src="/Social_Pictures/Video 1 Thumbnail.png" />
      <a href="https://www.youtube.com/watch?v=4TMag8exNiM&t=4s"
        >Introduction: STRAT webpage design</a
      >
    </div>
    <div class="Video2">
      <img src="/Social_Pictures/Video 2 Thumbnail.png" />
      <a href="https://www.youtube.com/watch?v=0bHtViqxKso"
        >STRAT Digital Designs</a
      >
    </div>
  </div>
</main>
<%- include("partials/footer.ejs") %>
