<%- include("Partials/header.ejs") %>
<main class="Solutions">
  <div class="examples">
    <img id="img1" src="/Solutions_Pictures/Birthday Invite.jpg"/
    style="height: 300px; width: auto;">
    <p id="p1">
      In this graphic, we have a simple illustration of a child's birthday
      party. We decided to use an animal theme for this invite. We printed the
      words fun and playfully, and the colour scheme looks bright and
      light-hearted. The name of the child and the year they will be turning is
      coloured in a darker tone and sized bigger, underlying the person being
      the reason for the event. A description of the location, day, date and
      time provides information on when and where the party will occur.
    </p>
    <img
      id="img2"
      src="/Solutions_Pictures/Wedding Invite.jpg"
      style="height: 450px; width: auto"
    />
    <p id="p2">
      In this graphic, we illustrate a wedding event that will take place for
      Mr. Amir Singh and Ms. Samira Naidoo. Since this is a Hindu wedding, there
      are elements representing the tradition and culture, such as the Om symbol
      and Ganesha graphic. The colours used here are gold and darkened blue,
      which are traditional Hindu wedding colours. We have respectfully
      mentioned the names of the bride and groom's immediate family ancestry. We
      have displayed this event's day, date, time and venue. The formatting of
      the date and the style of the words make this specific illustration stand
      out. It gives the feeling of a majestic and immaculate wedding that will
      take place.
    </p>
  </div>
</main>
<%- include("Partials/footer.ejs") %>
