@media screen and (orientation: portrait) {
  .AboutUs,
  .Contact,
  .List,
  .Privacy h2,
  .Privacy h3,
  .Services,
  .Slns,
  .Social,
  .Terms h2,
  .Terms h3,
  .item .c-heading,
  .navbar-nav,
  .title-header,
  footer {
    text-align: center;
  }
  .title1,
  .title2 {
    font-family: Vollkorn, serif;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    display: flex;
  }
  .List,
  .List ul,
  .container,
  .navbar-nav,
  .title-header,
  .title1,
  .title2 {
    display: flex;
  }
  .List,
  .List ul,
  .logo {
    position: relative;
  }
  .List,
  .List ul,
  .container,
  .title-header,
  header {
    width: 100%;
  }
  #left-arrow,
  #right-arrow {
    height: 25px;
    width: 25px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .page {
    display: none;
  }
  #dropdown,
  .title-header {
    height: 100px;
    width: 100%;
  }
  #background {
    position: fixed;
    left: 0;
    top: 0;
    width: max-content;
    height: 100%;
    z-index: -1;
  }
  header {
    flex-grow: 1;
    flex-shrink: 1;
    z-index: 1;
  }
  .container {
    height: 100px;
    flex-direction: row;
    flex: 1 1 0;
  }
  .logo-background {
    display: flex;
    background-color: rgba(10, 10, 10, 0.3);
    flex-basis: 100px;
  }
  .logo {
    margin: 0;
    flex-grow: 1;
  }
  .title-header {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    flex-grow: 1 1 0;
    align-items: center;
    justify-content: center;
  }
  #dropdown,
  .navbar-nav {
    background-color: rgba(42, 63, 125, 0.8);
  }
  #dropdown {
    display: flex;
    flex-direction: row;
    min-width: 80px;
    flex: 1 1 0;
  }
  .title1 {
    color: #928927;
  }
  .title2 {
    color: #082667;
  }
  .AboutUs,
  .Clients,
  .Services,
  .Social,
  .Solutions,
  .navbar-nav {
    font-family: Poppins, sans-serif;
  }
  .AboutUs,
  .Clients,
  .Contact,
  .Ethics,
  .Privacy,
  .Solutions,
  .Terms,
  footer {
    font-size: 15px;
  }
  .block {
    visibility: collapse;
  }
  .navbar-nav {
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
  }
  .Clients,
  .Contact,
  .Services,
  .Social,
  .Solutions,
  .gap,
  main {
    background-color: rgb(26, 30, 69, 0.7);
  }
  .navbar-nav button {
    color: #fff;
    padding: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .Privacy a,
  .Terms a,
  .Videos a,
  .YouTube-Link a {
    text-decoration: none;
    color: #6495ed;
  }
  .AboutUs,
  .Ethics h3,
  .Service.Automation,
  .Service.Digital-Designs,
  .Service.Mobile-Development,
  .Service.Web-Development,
  .Services .description,
  .Software-Development #slns-description,
  .Software-Development h2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  main {
    flex-direction: row;
    color: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: max-content;
  }
  .List ul,
  .Slns ul {
    padding: 0;
    margin: 0 30px;
    list-style-type: none;
  }
  .List {
    flex: 1 1 0;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
  }
  .List ul {
    flex: 1 1 0;
    height: 400px;
  }
  .List li,
  .Slns li {
    position: absolute;
    width: 100%;
  }
  .Clients,
  .Slns,
  .Slns ul,
  .item {
    position: relative;
  }
  .List img {
    height: 120px;
    width: 250px;
  }
  .Slns,
  .Slns ul {
    display: flex;
    width: 100%;
  }
  .Services,
  .Social {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 15px;
  }
  .Slns {
    flex: 1 1 0;
    flex-direction: row;
    height: 230px;
    justify-content: center;
  }
  .Slns ul {
    flex: 1 1 0;
    height: 100%;
  }
  .Solutions,
  .Videos {
    flex-direction: column;
    display: flex;
    text-align: center;
  }
  .Services img {
    height: 200px;
    width: 300px;
    margin-top: 10px;
  }
  .Solutions {
    align-items: center;
    color: #fff;
    padding-top: 20px;
  }
  .examples #img1 {
    max-width: 260px;
    max-height: 200px;
  }
  .Social p,
  .examples #p1,
  .examples #p2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .examples #img2 {
    max-width: 260px;
    max-height: 400px;
  }
  .Clients {
    max-height: 100%;
    max-width: 100%;
    flex: 1 1 0;
    flex-direction: column;
    color: #fff;
  }
  .Clients div {
    height: 600px;
  }
  .YouTube-Link {
    display: flex;
    flex-direction: row;
  }
  .YouTube-Link a {
    height: fit-content;
    width: fit-content;
    margin-top: 8px;
  }
  .Social img {
    height: 180px;
    width: 300px;
  }
  .Videos {
    margin-top: 20px;
    align-items: center;
  }
  .Video1,
  .Video2,
  .item.cend {
    display: flex;
    flex-direction: column;
  }
  .Videos a {
    margin: 10px auto;
    width: fit-content;
    display: block;
    height: 50%;
  }
  .Contact {
    font-family: Vollkorn, serif;
    flex: 1 1 0;
    max-width: 100%;
    align-items: center;
    color: #fff;
  }
  .contact-list {
    list-style-type: none;
    padding: 0;
  }
  .item {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr 3fr;
  }
  .item .c-heading {
    grid-area: 1/1/2/3;
  }
  .Email.Icon,
  .Location.Icon,
  .Mobile.Icon {
    grid-area: 2/1/3/2;
    display: block;
    margin: auto;
    height: 50%;
    width: 50%;
  }
  .item .description {
    grid-area: 2/2/3/3;
    text-align: left;
    margin-left: 10px;
  }
  .sm-anchors {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
  .sm-anchors a {
    text-decoration: none;
  }
  .Privacy,
  .Terms {
    font-family: Poppins, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
  }
  #invisible {
    visibility: hidden;
  }
  #not-invisible {
    visibility: visible;
  }
  .gap {
    height: 100px;
  }
  #left-arrow {
    position: absolute;
    left: 0;
  }
  #right-arrow {
    position: absolute;
    right: 0;
  }
  footer {
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
  }
  footer a {
    color: #000;
    text-decoration: underline;
  }
  footer #terms-privacy {
    margin-top: 0;
    padding-top: 16px;
  }
  footer #copyright {
    margin-bottom: 0;
    padding-bottom: 16px;
  }
}
